<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
  </head>
  <body>
  {{ mensagem }}<br>
    <form method="post" action="/agora">
      url: <input type="url" name="url" placeholder="url"><br>
      texto: <input type="text" name="texto" placeholder="texto"><br>
      tempo_inicial <input type="number" name="tempo_inicial" placeholder="segundos" value="0"><br>
      senha: <input type="password" name="senha"><br>
      <input type="submit">
    </form>

  </body>
</html>
