<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
  </head>
  <body>
    <form method="post" action="/add_music">
      <input type="url" name="url" placeholder="url">
      <input type="date" name="data">
      <input type="text" name="texto" placeholder="texto">
      <input type="number" name="tempo_inicial" placeholder="segundos">
      <input type="submit">
    </form>
  {% for item in musicas_programadas %}
    <p> {{ item[0]}} {{ item[1]}} </p>
{% endfor %}
  </body>
</html>
